---
# Only the main Sass file needs front matter (the dashes are enough)
---
::-moz-selection { /* Code for Firefox */
  color: black;
  background: yellow;
}

::selection {
  color: black;
  background: yellow;
}


@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
